<html>
<head>

<title>{{ APP_NAME }}</title>
<link rel="stylesheet" type="text/css" href="/static/{{version}}/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="/static/{{version}}/style.css"/>
<script type="text/javascript" src="/static/{{version}}/lib/jquery-1.7.1.min.js">
</script>
<script type="text/javascript" src="/static/{{version}}/lib/jquery.validate.min.js">
</script>


</head>
<body style="background-color: #eee; font-size: 15px">

<div class="row">
	<div class="hero-unit" style="height: 50px;">
	 <div style="float: left; width: 100%;">	
	  <h1>{{APP_NAME}}</h1>
	  <h2>Go premium!</h2>
    <h3>It is just 3$ user/month!</h3>
	  </div>
	</div>
  <div  style="padding-left: 100px; font-size: 18px;">
  <p>Dear user, thank you very much for your interest.
    I am still working in the premium features. 
  </p>
  <p>
    If 
    you send me an email to carlos@iexpertos.com, I will
    write back to you as soon as I finish. 
   </p>
   <p>
    By doing so, you will be contributing to the development and encouraging
    me to develop sooner.
  </p>
  <p>
    Thanks again!
  </p> 
  <br>
  <div style="width: 80%;">Premium features:
          <ul>
        <li>Protect your account with password</li>
        <li>Charts and statistics: 
        Visualize your data in a way that makes
        sense for the business.
        </li>
        <li>Customizable behavior: 
        Decide if you want to automatically stop
        the running task when you close the application and many more configurations.
        </li>
        <li>Tasks tracker integration:
        Be able to select the tasks from Jira, Trello or Pivotal Tracker. 
        </li>
      </ul>
  </div>
  </div>
</div>

</div>
</body>

</html>